@font-face {
  font-family: 'ShowcaseSans';
  src: url('https://assets.cinelove.me/fonts/webfonts/showcasesans/showcasesans.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/showcasesans/showcasesans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}