@font-face {
  font-family: 'Signora';
  src: url('https://assets.cinelove.me/fonts/webfonts/signora/signora.woff2') format('woff2'),
       url('https://assets.cinelove.me/fonts/webfonts/signora/signora.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}